<section  style="background-color:#D7C0AE ;" >
    <div class="container">
        <div class="row mb-5">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <h1 class="">Chairman</h1>
            </div>
            <div class="col-4">
                <img src="assets/img/Md.Sumsul Arifin.jpg" class="img-fluid rounded mx-auto d-block" alt="">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tenetur suscipit provident eaque commodi
                    dolores natus esse tempore delectus odit dignissimos asperiores nobis libero ipsum et eligendi sed,
                    rerum dolorum Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed praesentium rerum aut rem
                    tempora maiores recusandae quaerat sit accusamus voluptate nesciunt ipsa, expedita consequatur vel
                    quia qui laboriosam velit quas veritatis iure? Reprehenderit sed fuga doloribus aspernatur. Maxime,
                    ad numquam..</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <h1 class="">Chief-chef</h1>
            </div>
            <div class="col-4">
                <img src="assets/img/istockphoto-1165683221-612x612.jpg" class="img-fluid rounded mx-auto d-block" alt="">
            </div>
            <div class="col-5 d-flex justify-content-center align-items-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tenetur suscipit provident eaque commodi
                    dolores natus esse tempore delectus odit dignissimos asperiores nobis libero ipsum et eligendi sed,
                    rerum dolorum Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed praesentium rerum aut rem
                    .</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <h1 class="">Chef</h1>
            </div>
            <div class="col-4">
                <img src="assets/img/images.jpg" class="img-fluid rounded mx-auto d-block" alt="">
            </div>
            <div class="col-5 d-flex justify-content-center align-items-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tenetur suscipit provident eaque commodi
                    dolores natus esse tempore delectus odit dignissimos asperiores nobis libero ipsum et eligendi sed,
                    rerum dolorum Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed praesentium rerum.
                </p>
            </div>
        </div>

    </div>
</section>